.job-card {
    border-radius: 0 !important;
    transition: all .2s ease-in-out;
    height: 150px !important;
    margin-bottom: 15px;
}

.job-card:hover {
    transform: scale(1.025);
    box-shadow: 0 0 10px 5px var(--lightGrey);
}

.content {
    padding: 15px;
    height: 100%;
}

.card-title {
    font-weight: 500;
    font-size: larger;
}

.btn-expand {
    border-radius: 50px !important;
}

.final-card-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    width: 100%;
    text-align: center !important;
}

.modal-body {
    text-align: center !important;
}

@media (max-width: 768px) {
    .job-card {
        height: auto;
    }
}