.custom-shape-divider-top-1710430572 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1710430572 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 223px;
}

.custom-shape-divider-top-1710430572 .shape-fill {
  fill: #455bb5;
}
