.navbar {
  width: 100%;
  background-color: var(--darkBlue);
  position: relative !important;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.custom-nav {
  position: absolute !important;
  width: 100%;
  z-index: 10;
  --bs-bg-opacity: 0 !important;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.logo {
  width: 75px;
  padding-right: 5px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--grey);
  margin-top: 10px;
  text-decoration: none !important;
}

.linkage {
  text-decoration: none;
  color: #353535;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0.5rem;
  padding-right: 2rem;
  transition: all 0.3s ease-in-out;
  padding-bottom: 20px;
}

.linkage:hover {
  color: var(--lightGrey);
  font-weight: 500;
  transform: scale(1.1);
}
