.title-testemonials {
    text-align: center;
}

.carousel {
    margin-top: 25px !important;
    margin-bottom: 25px;
}

.carousel-item-wrapper {
    display: flex !important;
    justify-content: center !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: var(--grey);
    align-items: flex-end !important;
}